body {
    background-color: #446052 !important;
    background: url(../Images/lilyPad.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

.box-outline {
border: 1px solid rgb(239, 231, 231);
background-color: rgba(155, 129, 175, 0.107);
}

#searchbar {
width: 45%;
margin-left: 20%;

}

#navbar {
        display: flex;
        flex-wrap: nowrap;


}

#nav-color {
background-color: transparent ;
/* text-shadow: 1px 1px 2px rgb(23, 23, 23); */
width: 100vw;

}

.input-field > i{
text-shadow: unset ;
}
