body {
    background-color: #446052 !important;
    background: url(../Images/Lily\ pad.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

.box-outline {
border: 5px solid black;
background-color: rgb(153, 129, 175);
}
